<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

 <button ion-button (click)="loginWithFacebook()" *ngIf="!facebook.loggedin" >Login With Facebook</button>

 <ion-card *ngIf="facebook.loggedin">
  <img src="{{facebook.profilePicture}}"/>
  <ion-card-content>
    <ion-card-title>
      {{ facebook.name}}
      </ion-card-title>
    <p>
      {{facebook.email}}
    </p>
  </ion-card-content>
</ion-card>


 <button ion-button (click)="logoutOfFacebook()" *ngIf="facebook.loggedin">Logout With Facebook</button>
</ion-content>
