<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list *ngIf="!provider.loggedin">

        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text" #user > </ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" #pass></ion-input>
        </ion-item>
      
      </ion-list>

  <button ion-button (click)="login()" *ngIf="!provider.loggedin" >Login</button>
  <button ion-button (click)="register()" *ngIf="!provider.loggedin">Register</button>
  
 <button ion-button (click)="loginWithFacebook()" *ngIf="!provider.loggedin" >
    Login With Facebook&nbsp;<ion-icon name="logo-facebook"></ion-icon></button>
 
 
 <button ion-button (click)="loginWithGoogle()" *ngIf="!provider.loggedin" >Login With Google&nbsp;
    <ion-icon name="logo-google"></ion-icon>
 </button>

 <button ion-button (click)="loginWithTwitter()" *ngIf="!provider.loggedin" >Login With Twiiter&nbsp;
    <ion-icon name="logo-twitter"></ion-icon></button>

 <ion-card *ngIf="provider.loggedin">
  <img src="{{provider.profilePicture}}"/>
  <ion-card-content>
    <ion-card-title>
      {{ provider.name}}
      </ion-card-title>
    <p>
      {{provider.email}}
    </p>
  </ion-card-content>
</ion-card>


 <button ion-button (click)="logout()" *ngIf="provider.loggedin">Logout </button>
</ion-content>
