<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

 <button ion-button (click)="loginWithFacebook()" *ngIf="!provider.loggedin" >Login With Facebook</button>
 <button ion-button (click)="loginWithGoogle()" *ngIf="!provider.loggedin" >Login With Google</button>

 <ion-card *ngIf="provider.loggedin">
  <img src="{{provider.profilePicture}}"/>
  <ion-card-content>
    <ion-card-title>
      {{ provider.name}}
      </ion-card-title>
    <p>
      {{provider.email}}
    </p>
  </ion-card-content>
</ion-card>


 <button ion-button (click)="logout()" *ngIf="provider.loggedin">Logout </button>
</ion-content>
